# Python
venv/
__pycache__/
*.pyc
.env

# Node / React
node_modules/
build/
dist/
.env.local

# Flutter (si applicable)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Général
.DS_Store
*.log

#environnement virtuel
.venv/

# Hypothesis and Pytest Cache
.hypothesis/
.pytest_cache/
backend/.hypothesis/
backend/.pytest_cache/